*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.level
{
    flex: 1 1 80%;
    padding: 10vw;
}
.level > input
{
    width: 100%;;
}
.percent
{
    flex: 1 1 100%;
    padding: 10vw;
}